public/data/
public/i18n/
public/fonts/
public/core-bundle.js
public/core-bundle.js.map
public/sitemap.xml
public/og/og-default.png
public/en/
public/ja/
public/ko/
public/zh-Hans/
public/zh-Hant/
public/fil/
